{% load static %}
{% include './header.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% block content %}
{% if user.is_authenticated %}
<h4>Welcome, {{ user.name|default:"Guest" }}!</h4>
{% endif %}

<a href="{% url '_create_question' %}" class="h-btn">Create Question</a>
<a href="{% url '_list_question' %}" class="h-btn">List All Questions</a>
<a href="{% url '_user_list_question' %}" class="h-btn">My Questions</a>
<a href="{% url '_logout' %}" class="h-btn">Logout</a>

{% endblock %}
